In [14]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, inspect,Column, String, Date, BigInteger
from sqlalchemy.ext.declarative import declarative_base




Base = declarative_base()


def createTable(tablename):
    class CountryName(Base):
        __tablename__ = tablename
        customerName = Column(String(255),primary_key=True)
        id = Column(BigInteger, autoincrement=True)
        customerOpenDate = Column(Date, nullable=False)
        lastConsultedDate = Column(Date)
        vaccinationType = Column(String(5))
        doctorConsulted = Column(String(255))
        state = Column(String(5))
        country = Column(String(5))
        dateOfBirth = Column(Date)
        activeCustomer = Column(String(1))
    return CountryName


def createTables(engine, inspector, db, distinct_countries, existing_tables):
    for tbl in distinct_countries:
        if tbl not in existing_tables:
            print("trying to create " + tbl)
            try:
                createTable(tbl).__table__.create(bind=engine)
                print("Created")
            except Exception as e:
                print(e)
        else:
            print(tbl + " already exists")
            

def getTables(engine):
    inspector = inspect(engine)
    
    all_tables = [tbl for tbl in inspector.get_table_names(schema=db)]

    return all_tables, inspector


df = pd.read_csv('C:/Users/Shree/Desktop/data_file.txt', sep="|", header=None)

is_header = df.iloc[0, 1]

if is_header == 'H':
    df.drop(df.head(1).index, inplace=True)


df.columns = ["N","D",
              "customerName", "customerID",
              "customerOpenDate", "lastConsultedDate",
              "vaccinationType", "doctorConsulted",
              "state", "country","dateofBirth",
              "activeCustomer"]

del df['D']
del df['N']

df['customerID'] = df['customerID'].apply(np.int64)

df.set_index('customerID')

print(df.info(), end="\n\n")

try:
    df['customerOpenDate'] = pd.to_datetime(
        df['customerOpenDate'], format='%Y%m%d')
    df['lastConsultedDate'] = pd.to_datetime(
        df['lastConsultedDate'], format='%Y%m%d')
    df['dateofBirth'] = pd.to_datetime(
        df['dateofBirth'], format='%d%m%Y')
except Exception as e:
    print(e)

print(df.info(), end="\n\n")
print(df)

df['country'] = df['country'].str.lower()

distinct_countries = df['country'].drop_duplicates()

print("\nDistinct Countries:/n",distinct_countries)

print()
db = "incubyte"
try:
    engine = create_engine(
        "mysql+mysqlconnector://root:1234@localhost:3306/" + db)
    engine.connect()
    print("Database Connected")
except Exception as e:
    print(e)

existing_tables, inspector = getTables(engine)
print("Existing Tables:", existing_tables)

createTables(engine, inspector, db, distinct_countries, existing_tables)

existing_tables, inspector = getTables(engine)
print("Existing Tables:", existing_tables)

for country in distinct_countries:
    my_filt = (df['country'] == country)
    try:
        print("Inserting Records in " + country)

        if country in existing_tables:
            df[my_filt].to_sql(name=country, con=engine,
                               if_exists='replace', index=False)
            print("Inserted")
        else:
            print(country + " table does Not exists")
    except Exception as e:
        print(e)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 1 to 5
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerName       5 non-null      object
 1   customerID         5 non-null      int64
 2   customerOpenDate   5 non-null      object
 3   lastConsultedDate  5 non-null      object
 4   vaccinationType    5 non-null      object
 5   doctorConsulted    5 non-null      object
 6   state              5 non-null      object
 7   country            5 non-null      object
 8   dateofBirth        5 non-null      object
 9   activeCustomer     5 non-null      object
dtypes: int64(1), object(9)
memory usage: 440.0+ bytes
None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 1 to 5
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerName       5 non-null      object
 1   customerID         5 non-null      int64
 2   customerOpenDate   5 non-null      datetime64[ns]
 3   lastConsultedDate  5 non-null      datetime64[ns]
 4   vaccinationType    5 non-null      object
 5   doctorConsulted    5 non-null      object
 6   state              5 non-null      object
 7   country            5 non-null      object
 8   dateofBirth        5 non-null      datetime64[ns]
 9   activeCustomer     5 non-null      object
dtypes: datetime64[ns](3), int64(1), object(6)
memory usage: 440.0+ bytes
None

  customerName  customerID customerOpenDate lastConsultedDate vaccinationType  \
1         Alex      123457       2010-10-12        2012-10-13             MVD
2         John      123458       2010-10-12        2012-10-13             MVD
3       Mathew      123459       2010-10-12        2012-10-13             MVD
4         Matt       12345       2010-10-12        2012-10-13             MVD
5        Jacob        1256       2010-10-12        2012-10-13             MVD

  doctorConsulted state country dateofBirth activeCustomer
1            Paul    SA     USA  1987-03-06              A
2            Paul    TN     IND  1987-03-06              A
3            Paul   WAS    PHIL  1987-03-06              A
4            Paul   BOS     NYC  1987-03-06              A
5            Paul   VIC      AU  1987-03-06              A

Distinct Countries:/n 1     usa
2     ind
3    phil
4     nyc
5      au
Name: country, dtype: object

Database Connected
Existing Tables: []
trying to create usa
Created
trying to create ind
Created
trying to create phil
Created
trying to create nyc
Created
trying to create au
Created
Existing Tables: ['au', 'ind', 'nyc', 'phil', 'usa']
Inserting Records in usa
Inserted
Inserting Records in ind
Inserted
Inserting Records in phil

F:\Anaconda\lib\site-packages\sqlalchemy\orm\clsregistry.py:176: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.CountryName, and will be replaced in the string-lookup table.
  util.warn(

Inserted
Inserting Records in nyc
Inserted
Inserting Records in au
Inserted